// Configuraion for database
// MENG YUE 
// July 20, 2016
//
// This is for the decription of the database.
// the python file will load this config and try to setup database or insert data to database
// the format is like the follows:
// Table = [Table Name]
// Column=[Column Name] Type=[Data Type and Notation of this]
// ...
// WARNING: the quatation punctuation is nessessary and should keep as the format below.
// eg:
// Table = "dtaparam"
// Column = "StartSimulation" Type = "time"
// Column = "Id" Type = "int primary key"
// ...
// 
// Followed are the database struture

Table = "dtaparam"
Column= "dtaparamId"				Type = "serial primary key"
Column= "StartSimulation"			Type = "varchar(20)"
Column= "StopSimulation"			Type = "varchar(20)"
Column= "OdInterval"				Type = "int"
Column= "HorizonLength"				Type = "int"
Column= "UpdateInterval"			Type = "int"
Column= "AdvanceInterval"			Type = "int"

Table = "network"
Column= "networkId"				TYpe = "serial primary key"
Column= "Name"					Type = "varchar(100)"
Column= "NodeNum"				Type = "int"
Column= "LinkNum"				Type = "int"
Column= "SegmentNum"				Type = "int"
Column= "LaneNum"				Type = "int"

Table = "behavior"
Column= "behaviorId"				Type = "serial primary key"
Column= "Habitual"				Type = "varchar(100)"
Column= "PreTrip"				Type = "varchar(100)"
Column= "EnRouteDesc"				Type = "varchar(100)"
Column= "EnRoutePresc"				Type = "varchar(100)"

Table = "supplyparam"
Column= "supplyparamId"				Type = "serial primary key"
Column= "SegmentId"				Type = "varchar(100000)"
Column= "freeFlowSpeed"				Type = "varchar(100000)"
Column= "jamDensity"				Type = "varchar(100000)"
Column= "alpha"					Type = "varchar(100000)"
Column= "beta"					Type = "varchar(100000)"
Column= "SegmentCapacity"			Type = "varchar(100000)"
Column= "Vmin"					Type = "varchar(100000)"
Column= "Kmin"					Type = "varchar(100000)"

Table = "main"
//Input Parameters
Column= "dataId"				Type = "serial primary key"
Column= "dtaparamId"				Type = "int references dtaparam(dtaparamId)"
Column= "networkId"				Type = "int references network(networkId)"
Column= "behaviorId"				Type = "int references behavior(behaviorId)"
Column= "supplyparamId"				Type = "int references supplyparam(supplyparamId)"
Column= "startTime"				Type = "varchar(20)"
Column= "demandDim"				Type = "int"
Column= "simuInfo"				Type = "varchar(1000)"
//Output datas
Column= "odFlow"				Type = "varchar(1000000)"
Column= "sensorData"				Type = "varchar(1000000)"
Column= "i3d_flw"				Type = "varchar(1000000)"
Column= "i3d_spd"				Type = "varchar(1000000)"
Column= "i3d_dsy"				Type = "varchar(1000000)"
Column= "i3d_que"				Type = "varchar(1000000)"
//Hmatrix
Column= "hmatrix"				Type = "varchar(1000000)"
