// Configuraion file
// MENG YUE
// Created at July,28,2016
// Last modified at Jult,30,2016
//
// File Standard format:
// XXPath = ~/dynamit/DynaMIT/XX.dat
// YYPath = ~/dynamit/DynaMIT/YY.txt
// ZZPath = ~/dynamit/DynaMIT/ZZ.out
//
// Warning: please strictly follow the format. No more syntax adding other than whitespace. Or it may crash!

[INIT]
RUN_LOCAL	= true
JDBC_DRIVER	= "org.postgresql.Driver"
DB_LOCAL	= "jdbc:postgresql://localhost:5432/dyna"
USER_LOCAL	= "dynamit"
PASS_LOCAL	= "dynamitFM@09"
DB_SERVER	= "jdbc:postgresql://137.132.22.82:15063/dynamit-ms"
USER_SERVER = "dynamitms"
PASS_SERVER = "supernetwork"



[FILE]
config		= /home/dynamit/student/mengyue/drill/db_java/db_manager/config/database.config
DynaMIT		= /home/dynamit/student/mengyue/drill/test/DynaMIT/
MITSIM		= /home/dynamit/student/mengyue/drill/test/MITSIM/
METADATA	= /home/dynamit/student/mengyue/drill/test/DynaMIT/metadata.dat
